*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: center;
  color: #fff;
}
.main {
  display: flex;
  flex-direction: row;
}

.form_container {
  margin: 5px 0 0 5px;
  width: 30vw;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 6rem;
}
.new_task_form {
  margin: 20px 10px;
}
.update_task_container {
  margin: 10px 10px;
}
.card_item {
  margin-top: 10px;
}

.display_container {
  width: 50vw;
  margin-left: 34rem;
  margin-top: 6rem;
}
.card_header_no_id {
  display: flex;
  justify-content: space-between;
}
.card_header_no_id div {
  margin: 0;
}

.delete_btn_container {
  margin-top: 5px;
}
